<div class="basic-container" >

    <div class="spinner-container" *ngIf="dataSource.loading$ | async">
        <mat-spinner></mat-spinner>
    </div>

    <div class="top-container">
        <span><mat-icon svgIcon="sw_film"  class="size-24 circle-icon top-icon background-film"></mat-icon></span>

        <mat-form-field>
            <input matInput placeholder="Search film" #inputSearch>
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
    </div>


    <mat-table class="film-table mat-elevation-z8" [dataSource]="dataSource">

        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
            <mat-cell *matCellDef="let film">{{film.id}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="title">
            <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
            <mat-cell class="name-cell"
                    *matCellDef="let film">            
                    <a mat-list-item [routerLink]="['/film/', film.id]" >{{film.title}}</a>
            </mat-cell>

        </ng-container>

        <ng-container matColumnDef="episode_id">
            <mat-header-cell *matHeaderCellDef>
                <!-- <mat-icon class="example-tab-icon" >cake</mat-icon> -->
                Episode id
            </mat-header-cell>
            <mat-cell class="episode-id-cell"
                    *matCellDef="let film">{{film.episode_id}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="director">
            <mat-header-cell *matHeaderCellDef>
                <!-- <mat-icon class="example-tab-icon">visibility</mat-icon> -->
                Director
            </mat-header-cell>
            <mat-cell class="director-cell"
                    *matCellDef="let film">{{film.director}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="producer">
            <mat-header-cell *matHeaderCellDef>
                Producer
            </mat-header-cell>
            <mat-cell class="producer-cell"
                    *matCellDef="let film">{{film.producer}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="release_date">
            <mat-header-cell *matHeaderCellDef>
                Release date
            </mat-header-cell>
            <mat-cell class="release-date-cell"
                    *matCellDef="let film">{{film.release_date}}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

    </mat-table>
    <mat-paginator [length]="length" [pageSize]="pageSize"
                   [pageSizeOptions]="pageSizeOptions"></mat-paginator>
</div>