
<div class="basic-container" >
    <h1>About Angular Swapi App</h1>
    <p>
        This application is a showcase about Angular using Swapi API.
    </p>


    <h1>Author</h1>
    <div>
        <p>I am Grégory OLIVER, FullStack developper.</p>
    </div>
    
    <div>
        <p>
            <a href="https://github.com/elendrim">GitHub Page</a><br />
            <a href="https://stackoverflow.com/story/elendrim">Stackoverflow Page</a><br />
            <a href="https://www.linkedin.com/in/gregory-oliver/">LinkedIn Page</a><br />
        </p>
    </div>
    


    <h1>Angular</h1>
    <p>
        Angular is a platform for building mobile and desktop web applications developped by Google.
    </p>
    <div>
        <p><a href="https://angular.io/">Angular</a></p>
    </div>

    <h1>Angular Material UI</h1>
    <p>
        UI component infrastructure and Material Design components for mobile and desktop Angular web applications.
    </p>
    <div>
        <p><a href="https://material.angular.io/">Angular material</a></p>
    </div>
    
    


    
    <h1>Swapi</h1>
    <p>
        The Star Wars API, or "swapi" (Swah-pee) is the world's first quantified and programmatically-accessible data source for all the data from the Star Wars canon universe!
    </p>
    <div>
        <a href="https://swapi.dev/">Swapi documentation</a>
    </div>

        
    <h1>Icons</h1>
    <p>
        <a href="https://dribbble.com/shots/3907212-Starwars-Icon-Set">Starwars Icon Set</a> 
        by <a href="https://dribbble.com/radiusss">Sherzod Mirzaakhmedov</a>
    </p>

    <h1>Hosted by firebase</h1>
    <p>
        Firebase is Google's mobile and web platform that helps you quickly develop high-quality apps.
    </p>
    <div>
        <a href="https://firebase.google.com/">Firebase</a>
    </div>
    
    
    
</div>
