section {
  display: table;
  margin: 8px;
}
  
.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 15px;
  width: 120px;
  color : grey;
}

.example-button-row {
  display: table-cell;
}

.example-button-row button {
  display: table-cell;
  margin-right: 10px;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  width: 480px;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

table {
  width: 100%;
}

.example-tab-icon {
  margin-right: 8px;
}

