<div  class="mat-elevation-z8 basic-container">
              
    <table mat-table [dataSource]="dataSourceStarship">
      
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> <a mat-list-item [routerLink]="['/starship/', element.id]" >{{element.name}}</a> </td>
        </ng-container>
      
        <!-- Model Column -->
        <ng-container matColumnDef="model">
          <th mat-header-cell *matHeaderCellDef> Model </th>
          <td mat-cell *matCellDef="let element"> {{element.model}} </td>
        </ng-container>
      
        <!-- starship_class Column -->
        <ng-container matColumnDef="starship_class">
          <th mat-header-cell *matHeaderCellDef> Starship Class </th>
          <td mat-cell *matCellDef="let element"> {{element.starship_class}} </td>
        </ng-container>
      
        <!-- manufacturer Column -->
        <ng-container matColumnDef="manufacturer">
          <th mat-header-cell *matHeaderCellDef> Manufacturer </th>
          <td mat-cell *matCellDef="let element"> {{element.manufacturer}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumnsStarship"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsStarship;"></tr>
      </table>


</div>