<div class="basic-container" >

    <div class="spinner-container" *ngIf="dataSource.loading$ | async">
        <mat-spinner></mat-spinner>
    </div>

    <span><mat-icon svgIcon="sw_vehicle"  class="size-24 circle-icon top-icon background-vehicle"></mat-icon></span>

    <mat-form-field>
        <input matInput placeholder="Search vehicle" #inputSearch>
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

    <br />
    <br />

    <mat-table class="vehicle-table mat-elevation-z8" [dataSource]="dataSource">

        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
            <mat-cell *matCellDef="let vehicle">{{vehicle.id}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
            <mat-cell class="name-cell"
                    *matCellDef="let vehicle">         
                    <a mat-list-item [routerLink]="['/vehicle/', vehicle.id]" >{{vehicle.name}}</a>
            </mat-cell>

        </ng-container>

        <ng-container matColumnDef="manufacturer">
            <mat-header-cell *matHeaderCellDef>
                Manufacturer
            </mat-header-cell>
            <mat-cell class="episode-id-cell"
                    *matCellDef="let vehicle">{{vehicle.manufacturer}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="model">
            <mat-header-cell *matHeaderCellDef>
                Model
            </mat-header-cell>
            <mat-cell *matCellDef="let vehicle">{{vehicle.model}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="vehicle_class">
            <mat-header-cell *matHeaderCellDef>
                Class
            </mat-header-cell>
            <mat-cell *matCellDef="let vehicle">{{vehicle.vehicle_class}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="length">
            <mat-header-cell *matHeaderCellDef>
                Length
            </mat-header-cell>
            <mat-cell *matCellDef="let vehicle">{{vehicle.length}}</mat-cell>
        </ng-container>


        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

    </mat-table>
    <mat-paginator [length]="length" [pageSize]="pageSize"
                   [pageSizeOptions]="pageSizeOptions"></mat-paginator>
</div>