<div *ngIf="vehicle" class="mat-elevation-z8 basic-container">

    <img class="details-img" src="https://starwars-visualguide.com/assets/img/vehicles/{{vehicle.id}}.jpg" onerror="this.style.display='none'"/>

    <section>
        <div class="example-label">
            <mat-icon class="example-tab-icon">vide</mat-icon>
            Id
        </div>
        <div class="example-button-row">
            {{vehicle.id}}
        </div>
    </section>
    <mat-divider></mat-divider>

    <section>
        <div class="example-label">
            <mat-icon class="example-tab-icon">vide</mat-icon>
            Name
        </div>
        <div class="example-button-row">
            {{vehicle.name}}
        </div>
    </section>
    <mat-divider></mat-divider>

    <section>
        <div class="example-label">
            <mat-icon class="example-tab-icon">vide</mat-icon>
            Model
        </div>
        <div class="example-button-row">
            {{vehicle.model}}
        </div>
    </section>
    <mat-divider></mat-divider>

    <section>
        <div class="example-label">
            <mat-icon class="example-tab-icon">vide</mat-icon>
            Manufacturer
        </div>
        <div class="example-button-row">
            {{vehicle.manufacturer}}
        </div>
    </section>
    <mat-divider></mat-divider>

    <section>
        <div class="example-label">
            <mat-icon class="example-tab-icon">vide</mat-icon>
            Class
        </div>
        <div class="example-button-row">
            {{vehicle.vehicle_class}}
        </div>
    </section>
    <mat-divider></mat-divider>



    <section>
        <div class="example-label">
            <mat-icon class="example-tab-icon">vide</mat-icon>
            Length
        </div>
        <div class="example-button-row">
            {{vehicle.length}}
        </div>
    </section>
    <mat-divider></mat-divider>

    <section>
        <div class="example-label">
            <mat-icon class="example-tab-icon">vide</mat-icon>
            Cost
        </div>
        <div class="example-button-row">
            {{vehicle._in_credits}}
        </div>
    </section>
    <mat-divider></mat-divider>
    
    <section>
        <div class="example-label">
            <mat-icon class="example-tab-icon">vide</mat-icon>
            Crew
        </div>
        <div class="example-button-row">
            {{vehicle.crew}}
        </div>
    </section>
    <mat-divider></mat-divider>

    <section>
        <div class="example-label">
            <mat-icon class="example-tab-icon">vide</mat-icon>
            Passengers
        </div>
        <div class="example-button-row">
            {{vehicle.passengers}}
        </div>
    </section>
    <mat-divider></mat-divider>

    <section>
        <div class="example-label">
            <mat-icon class="example-tab-icon">vide</mat-icon>
            Max atmosphering speed
        </div>
        <div class="example-button-row">
            {{vehicle.max_atmosphering_speed}}
        </div>
    </section>
    <mat-divider></mat-divider>

    <section>
        <div class="example-label">
            <mat-icon class="example-tab-icon">vide</mat-icon>
            Cargo capacity
        </div>
        <div class="example-button-row">
            {{vehicle.cargo_capacity}}
        </div>
    </section>
    <mat-divider></mat-divider>

    <section>
        <div class="example-label">
            <mat-icon class="example-tab-icon">vide</mat-icon>
            Consumables
        </div>
        <div class="example-button-row">
            {{vehicle.consumables}}
        </div>
    </section>
    <mat-divider></mat-divider>

    
   
    
    <section>
        <div class="example-label">
            <mat-icon class="example-tab-icon">vide</mat-icon>
            Created
        </div>
        <div class="example-button-row">
            <span *ngIf="vehicle.created">{{vehicle.created | date:'medium'}}</span>
        </div>
    </section>
    <mat-divider></mat-divider>

    <section>
        <div class="example-label">
            <mat-icon class="example-tab-icon">vide</mat-icon>
            Edited
        </div>
        <div class="example-button-row">
            <span *ngIf="vehicle.created">{{vehicle.edited | date:'medium'}}</span>
        </div>
    </section>
</div>