
<div *ngIf="film" class="basic-container" >    

    <h2>
        <div class="top-container">
            <span><mat-icon svgIcon="sw_film"  class="size-24 circle-icon top-icon background-film"></mat-icon></span>
            <span>{{film.title}}</span>
        </div>
    </h2>
        
    <nav mat-tab-nav-bar>

        <!-- properties -->
        <a mat-tab-link
        [routerLink]="['/film', film.id ,'property']"
        routerLinkActive #rla1="routerLinkActive"
        [active]="rla1.isActive">
            <mat-icon class="example-tab-icon">list</mat-icon>
            PROPERTIES
        </a>

        <!-- vehicles -->
        <a mat-tab-link
        [routerLink]="['/film', film.id ,'vehicles']"
        routerLinkActive #rla2="routerLinkActive"
        [active]="rla2.isActive">
            <mat-icon svgIcon="sw_vehicle" class="example-tab-icon"></mat-icon>
            <span matBadge="{{countVehicles}}" matBadgeSize="small" matBadgeOverlap="false">VEHICLES</span>
        </a>

        <!-- startships -->
        <a mat-tab-link
        [routerLink]="['/film', film.id ,'starships']"
        routerLinkActive #rla3="routerLinkActive"
        [active]="rla3.isActive">
            <mat-icon svgIcon="sw_starship" class="example-tab-icon"></mat-icon>
            <span matBadge="{{countStarships}}" matBadgeSize="small"  matBadgeOverlap="false">STARSHIPS</span>
        </a>

        <!-- species -->
        <a mat-tab-link
        [routerLink]="['/film', film.id ,'species']"
        routerLinkActive #rla4="routerLinkActive"
        [active]="rla4.isActive">
            <mat-icon svgIcon="sw_species" class="example-tab-icon"></mat-icon>
            <span matBadge="{{countSpecies}}" matBadgeSize="small"  matBadgeOverlap="false">SPECIES</span>
        </a>

        <!-- characters -->
        <a mat-tab-link
        [routerLink]="['/film', film.id ,'characters']"
        routerLinkActive #rla5="routerLinkActive"
        [active]="rla5.isActive">
            <mat-icon svgIcon="sw_people" class="example-tab-icon"></mat-icon>
            <span matBadge="{{countCharacters}}" matBadgeSize="small" matBadgeOverlap="false">CHARACTERS</span>
        </a>

        <!-- planets -->
        <a mat-tab-link
        [routerLink]="['/film', film.id ,'planets']"
        routerLinkActive #rla6="routerLinkActive"
        [active]="rla6.isActive">
            <mat-icon svgIcon="sw_planet" class="example-tab-icon"></mat-icon>
            <span matBadge="{{countPlanets}}" matBadgeSize="small" matBadgeOverlap="false">PLANETS</span>
        </a>
        
    </nav>

    <router-outlet></router-outlet>
</div>