<div class="basic-container" >   
      

    <mat-grid-list #grid [cols]="cols" rowHeight="20:11" gutterSize="20px" >

        <mat-grid-tile class="background-people"> 
            <a [routerLink]="['/people/search']" class="tile-a">
                <mat-icon svgIcon="sw_people"  alt="people" class="tile-image"></mat-icon>
                <mat-grid-tile-footer>
                    People
                </mat-grid-tile-footer>
            </a> 
        </mat-grid-tile>

        <mat-grid-tile class="background-film">
            <a [routerLink]="['/film/search']" >
                <mat-icon svgIcon="sw_film"  alt="film" class="tile-image"></mat-icon>
                <mat-grid-tile-footer>
                Film
                </mat-grid-tile-footer>
            </a>
        </mat-grid-tile>

        <mat-grid-tile class="background-starship">
            <a [routerLink]="['/starship/search']" class="tile-a">
                <mat-icon svgIcon="sw_starship"  alt="starship" class="tile-image"></mat-icon>
                <mat-grid-tile-footer>
                    Starship
                </mat-grid-tile-footer>
            </a>
        </mat-grid-tile>

        <mat-grid-tile class="background-planet">

            <a [routerLink]="['/planet/search']" class="tile-a">
                <mat-icon svgIcon="sw_planet"  alt="planet" class="tile-image"></mat-icon>
                <mat-grid-tile-footer>
                    Planet
                </mat-grid-tile-footer>
            </a>
        </mat-grid-tile>

        <mat-grid-tile class="background-species">
            <a [routerLink]="['/species/search']" class="tile-a">
                <mat-icon svgIcon="sw_species"  alt="species" class="tile-image"></mat-icon>
                <mat-grid-tile-footer>
                    Species
                </mat-grid-tile-footer>
            </a>
        </mat-grid-tile>

        <mat-grid-tile class="background-vehicle">
            <a [routerLink]="['/vehicle/search']" class="tile-a">
                <mat-icon svgIcon="sw_vehicle"  alt="vehicle" class="tile-image"></mat-icon>
                <mat-grid-tile-footer>
                    Vehicle
                </mat-grid-tile-footer>
            </a>
        </mat-grid-tile>
    </mat-grid-list> 
</div>