/* You can add global styles to this file, and also import other style files */






html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.basic-container {
    padding: 20px;
}


.version-info {
  font-size: 8pt;
  float: right;
  margin: 8px;
}

.material-icons {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

.mat-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
} 


.size-24  {
    width: 24px;
    height: 24px;
    transform: scale(1.5);
}

.background-people {
    /* purple */
    background: #f48fb1;
}

.background-film {
    /* indigo */
    background: #9fa8da;
}

.background-species {
    /* Teal */
    background: #4db6ac;
}

.background-vehicle {
    /* green */
    background: #81c784;
}

.background-starship {
    /* green */
    background: #ffe082;
}

.background-planet {
    /* deep orange*/
    background: #ff8a65;
}


.circle-icon {
    border-radius: 50%;
    padding: 10px;
    margin: 10px;
}

.top-icon {
    margin-right: 20px;
}

.top-container {
    margin-left: 20px;
    margin-top:  0px;
    margin-bottom:  20px;
}

.basic-property-container {
    padding: 30px;
}



.spinner-container mat-spinner {
    position: absolute;
    top: 10%;
    left: 50%;
    right: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}


/** Details pages **/

section {
    display: table;
    margin: 8px;
}

.example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 15px;
    width: 150px;
    color : grey;
}

.example-button-row {
    display: table-cell;
}

.example-button-row button {
    display: table-cell;
    margin-right: 10px;
}

.example-flex-container {
    display: flex;
    justify-content: space-between;
    width: 480px;
}

.example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
}

table {
    width: 100%;
}

.example-tab-icon {
    margin-right: 8px;
}
  
.details-img  {
    float:right;
    background-position: center 20%;
    background-size: cover;
    height: 100%;
    display: block;
    margin-left: 5%;
    width: 350px;
    border-radius: 1em;
}


.color-white svg path{
    fill: white ;
}

.color-white svg text{
    fill: white ;
}


/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    
    .details-img  {
        width: 300px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    
    .details-img  {
        width: 250px;
    }

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

    .details-img  {
        width: 180px;
    }

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

    .basic-container {
        padding: 0px;
    }

    .top-container {
        margin-top:  20px;
    }

    .basic-property-container {
        padding: 5px;
    }

    .details-img  {
        width: 120px;
    }
    

}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {

}


