/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}


.basic-container {
  padding: 30px;
}

.version-info {
  font-size: 8pt;
  float: right;
  margin: 8px;
}

.material-icons {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

.mat-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
} 


.size-24  {
    width: 24px;
    height: 24px;
    transform: scale(1.5);
}

.background-people {
    /* purple */
    background: #f48fb1;
}

.background-film {
    /* indigo */
    background: #9fa8da;
}

.background-species {
    /* Teal */
    background: #4db6ac;
}

.background-vehicle {
    /* green */
    background: #81c784;
}

.background-starship {
    /* green */
    background: #ffe082;
}

.background-planet {
    /* deep orange*/
    background: #ff8a65;
}


.circle-icon {
    border-radius: 50%;
    padding: 10px;
    margin: 10px;
}

.top-icon {
    margin-right: 20px;
}

.spinner-container mat-spinner {
    position: absolute;
    top: 10%;
    left: 50%;
    right: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}


/** Details pages **/

section {
    display: table;
    margin: 8px;
}

.example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 15px;
    width: 150px;
    color : grey;
}

.example-button-row {
    display: table-cell;
}

.example-button-row button {
    display: table-cell;
    margin-right: 10px;
}

.example-flex-container {
    display: flex;
    justify-content: space-between;
    width: 480px;
}

.example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
}

table {
    width: 100%;
}

.example-tab-icon {
    margin-right: 8px;
}
  
  